:root {
  --color: rgba(250, 235, 215, 0.98);
}
$base: 4px;

* {
  padding: 0px;
  margin: 0px;
  font-family: "Poppins", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

.about-us {
  background-color: var(--color);
  position: relative;
  margin-top: 120px;
  .bg {
    width: 100%;
    margin-top: $base * 10;
    margin-bottom: $base * 5;
    filter: sepia(100%) saturate(7500%) opacity(30%);
    opacity: 0.3;
  }
  .about {
    position: absolute;
    top: -50px;
    .container-about {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-left: 220px;
      img {
        flex: 1;
        width: 325px;
        border: 4px solid white;
        border-radius: 15px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      }
      .text {
        margin-top: 90px;
        margin-left: 155px;
        h2 {
          span {
            border: 1px solid transparent;
            border-bottom: 3px solid #f6951e;
          }
        }
        h3 {
          margin-top: $base * 8;
          width: 400px;
        }
        p {
          margin-top: $base * 4;
          width: 425px;
        }
        button {
          margin-top: 30px;
          margin-right: 5px;
          padding-left: 1rem;
          padding-right: 1.25rem;
          padding-top: 0.5rem;
          padding-bottom: 0.5rem;
          background-color: #2f2106;
          border-radius: 20px;
          border: none;
          a{
            font-size: 0.875rem;
            font-weight: 600;
            color: #f6951e;
            text-decoration: none;
          }
        }
      }
    }
  }
}

#special-menu {
  font-weight: 600;
  margin-top: 100px;
  margin-bottom: 25px;
  margin-left: 135px;

  .special-menu-subtitle {
    border: 1px solid transparent;
    border-bottom: 3px solid #f6951e;
  }
}

.container-menu {
  display: flex;
  justify-content: center;
  gap: 35px;
  flex-wrap: wrap;
  // Card Container
  .card-menu {
    flex: 0 0 10%;
    position: relative;
    margin-left: 4px;
    border-radius: $base * 4;

    border: 2px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Box shadow dengan warna latar belakang putih */

    margin-bottom: 16px;
    // Rating Badge
    .rating-badge {
      position: absolute;
      top: 30px;
      left: 30px;
      background-color: #f8f9fa;
      padding: 2px 6px;
      border-radius: 20px;
    }

    // Rating Badge Text
    .rating-text {
      font-weight: bold;
      margin-left: 4px;
    }

    // Rating Star Icon
    .rating-star {
      position: relative;
      top: 3px;

      width: 20px;
    }

    // Card Image
    .card-img {
      padding: $base * 5;
      border-radius: $base * 8;
      width: 285px;
    }

    // Card Body
    .card-body {
      display: flex;
      flex-wrap: wrap;
      margin-top: -10px;
      // Card Title
      .card-title {
        flex: 1;
        font-weight: 600;
        margin-left: 25px;
      }

      .card-text {
        font-weight: 600;
        font-size: 0.9rem;
        color: #838383;
        margin-left: 25px;
        margin-top: 3px;
        width: 170px;
      }
      // Card Text
      .card-price {
        font-weight: 700;
        margin-right: 30px;
      }
      .card-btn {
        cursor: pointer;
        margin-top: 10px;
        margin-bottom: 25px;

        // Cart Icon
        .cart-icon {
          font-size: 20px;
          padding: 5px 10px;
          margin-top: 100px;
          margin-left: 55px;
          border-radius: 20px;
          background-color: #f6951e;
          color: #fff;
        }
      }
    }
  }
}
